body {
    font-family: Arial, sans-serif;
    background-image: url(imgcar.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  .login-container h2 {
    color: #333;
    margin-bottom: 20px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }
  .login-form label {
    margin-bottom: 10px;
  }
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
  }
  .login-form input[type="text"]:focus,
  .login-form input[type="password"]:focus {
    outline: none;
    border-color: #007bff;
  }
  .login-form button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }